.card {
  width: 250px;
  height: 22rem;
  background-color: var(--dark-mode-elements);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  img {
    width: 100%;
    height: 45%;
    object-fit: fill;
  }

  .info {
    padding: 1rem;

    h3 {
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
  }
}

.light-mode .card {
  background-color: var(--light-mode-elements);
  color: var(--light-mode-text);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
